// pixel
$p0: 0px;
$p1: 1px;
$p5: 5px;
$p10: 10px;
$p12: 12px;
$p13: 13px;
$p14: 14px;
$p15: 15px;
$p16: 16px;
$p18: 18px;
$p20: 20px;
$p30: 30px;
$p40: 40px;
$p50: 50px;
$p60: 60px;
$p70: 70px;
$p80: 80px;
$p90: 90px;
$p100: 100px;
$p120: 120px;
$p200: 200px;
$p300: 300px;
// percent
$pc0: 0%;
$pc5: 5%;
$pc10: 10%;
$pc20: 20%;
$pc25: 25%;
$pc30: 30%;
$pc40: 40%;
$pc50: 50%;
$pc60: 60%;
$pc70: 70%;
$pc80: 80%;
$pc90: 90%;
$pc100: 100%;