p Sắp xếp theo:
    select(name="product")
        option(value="0") Tên sản phẩm
        option(value="1") Giá
        option(value="2") Số lượng
        option(value="3") Ngày ra mắt
        option(value="4") Khối lượng
    p Show:
    select(name="amount")
        option(value="0") 9
        option(value="1") 18
    .icon
        a(href="../file_pug/product.html")
            i.fas.fa-bars.active
        a(href="../file_pug/product-grid.html")
            i.fas.fa-th