.signin {
    @extend .signup;
    .signin__left {
        width: 48%;
        float: left;
        @extend .info-profile;
        .tick {
            width: max-content !important;
        }
        .forget {
            @extend .tick;
            float: right !important;
            &:hover {
                color: $yellow;
                text-decoration: underline;
            }
        }
        .form {
            width: 100% !important;
        }
    }
    .signin__right {
        @extend .signin__left;
        float: right;
        .text {
            font-size: $p14;
            color: $gray-800;
            padding-bottom: $p13;
        }
    }
}