.breadcrumb {
    border-bottom: $p1 solid $gray-border;
    border-radius: 0;
}

.info-profile {
    h3 {
        font-size: $p14;
        font-weight: bold;
        padding: $p20 0;
    }
    .form {
        font-size: $p14;
        width: 48%;
        float: left;
        p {
            color: $gray-900;
            width: max-content;
            float: left;
            padding: $p10 0;
        }
        i {
            float: left;
            padding: $p10 0;
            color: $red;
            padding-left: 5px;
        }
        &.right {
            float: right;
        }
        input {
            width: 98%;
            height: $p50;
            border: $border;
            padding: 0 $p10;
        }
    }
    .tick {
        margin: $p20 0;
        width: $pc100;
        float: left;
        font-size: $p14;
        font-style: italic;
        color: $gray-800;
    }
}

.info-signup {
    @extend .info-profile;
}

.signup {
    .button {
        width: max-content;
        button {
            width: 125px;
            height: $p50;
            font-size: $p14;
            font-weight: bold;
            color: $white;
            background: $yellow;
            margin-right: $p10;
            margin-bottom: $p100;
            &:hover {
                background: $gray-900;
                transition: .3s;
            }
        }
    }
}