@import "../file_scss/sub_page/_color.scss";
@import "../file_scss/sub_page/_width.scss";
@import "../file_scss/sub_page/_mixin.scss";
@import "../file_scss/sub_page/_reset.scss";
@import "../file_scss/sub_page/_header.scss";
@import "../file_scss/sub_page/_banner.scss";
@import "../file_scss/sub_page/_content.scss";
@import "../file_scss/sub_page/_sponser.scss";
@import "../file_scss/sub_page/_footer.scss";
@import "../file_scss/page/_product.scss";